.o-modal__content--full-screen {
  width: 100%;
  height: 100%;
  max-height: 100vh;
  margin: 0;
}

.o-modal__close {
  background: none;
  position: fixed;
  border: none;
  display: inline-block;
  vertical-align: top;
  right: 20px;
  top: 20px;
}

.o-modal--mobile .o-modal__content {
  width: 100%;
}

.o-inputit {
  display: block;
}

.o-inputit__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  vertical-align: top;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: calc(.275em - 1px) 0 0;
  background-color: #ffffff;
  border-color: #dbdbdb;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  color: #363636;
  font-size: 1rem;
  line-height: 1.5;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

.o-inputit__container--small {
  font-size: 0.75rem;
}

.o-inputit__container--medium {
  font-size: 1.25rem;
}

.o-inputit__container--large {
  font-size: 1.5rem;
}

.o-inputit__autocomplete {
  position: static;
  flex: 1;
}

.o-inputit__input {
  border: none;
  box-shadow: none;
}

.o-inputit__input:focus {
  box-shadow: none;
}

.o-inputit__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 4px;
}

.o-inputit__item>* {
  margin-left: 0.1875em;
  margin-right: 0.1875em;
}

.o-inputit__item--danger {
  background-color: #b60000;
  color: #ffffff;
}

.o-inputit__item--warning {
  background-color: #f4c300;
  color: #000000;
}

.o-inputit__item--success {
  background-color: #006724;
  color: #ffffff;
}

.o-inputit__item--info {
  background-color: #005c98;
  color: #ffffff;
}

.o-inputit__counter {
  display: block;
  float: right;
  font-size: 0.75rem;
  margin: 0.25rem 0 0 0.5rem;
}

.o-inputit--expanded {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.o-acp {
  position: relative;
}
.o-acp__menu {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 100%;
  overflow: auto;
  z-index: 20;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.02);
  padding: 0.5rem 0 0.5rem 0;
  margin: 0;
  max-height: 200px;
}
.o-acp__menu--top {
  top: auto;
  bottom: 100%;
}
.o-acp__item {
  display: block;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  /* color: #000000; */
  /* font-size: 1rem; */
  /* line-height: 1.5; */
  padding: 0.375rem 1rem;
}
.o-acp__item-group-title, .o-acp__item--empty {
  pointer-events: none;
  opacity: 0.5;
}
.o-acp__item--hover, .o-acp__item:hover {
  background: #f5f5f5;
  color: #000000;
}
.o-acp--expanded {
  width: 100%;
}

@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.o-icon {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  transition: transform 150ms ease-out, opacity 300ms ease-out;
}
.o-icon--spin {
  animation-name: icon-spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.o-input__icon-left, .o-input__icon-right {
  position: absolute;
  top: 0;
  height: 100%;
}
.o-input__icon-right {
  right: 0;
}
.o-input__icon-left {
  left: 0;
}
.o-ctrl-input {
  display: block;
  position: relative;
}
.o-ctrl-input--expanded {
  width: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.o-input {
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-flex;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.o-input__textarea {
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  resize: vertical;
}
.o-input__counter {
  display: block;
  float: right;
}
.o-input-iconspace-left {
  padding-left: 2.25em;
}
.o-input-iconspace-right {
  padding-right: 2.25em;
}
.o-input--rounded {
  border-radius: 9999px;
}
